@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/********* Main *********/

body {
	margin: auto;
	background: black;
}

#titel {
	margin-top: 5%;
	padding-top: 2%;
	text-align: center;
	font-size: 80px;
	color: white;
	font-family: 'Gugi', cursive;
}

.popup {
	display: none;
	position: absolute;
	left: 46%;
	top: 60%;
	width: 400px;
	background: #fff;
	box-shadow: 0 5px 20px 7px rgba(0, 0, 0, .3);
	padding: 20px 20px;

}

.header-popup {
	height: 40px;
	margin-top: 0;
	line-height: 30px;
	text-align: center;
}

.text-popup {
	text-align: center;
	margin-top: 5%;
}

/****************************/

/********* Start Button *********/
.start {
	position: absolute;
	background: blanchedalmond;
	margin-left: 10%;
	margin-top: 30%;
	border-radius: 100%;
	border: 5px solid orange;
	width: 150px;
	height: 150px;
	font-weight: bolder;
	font-family: 'Gugi', cursive;
	text-transform: uppercase;
	overflow: hidden;
	cursor: pointer;
}

.start::after {
	content: "";
	display: inline-block;
	background: transparent;
	border: 0px solid orange;
	border-radius: 50%;
	transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	height: 0px;
	width: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.start:hover::after {
	width: 340px;
	height: 340px;
	border-width: 40px;
}

.start[disabled=disabled],
.start:disabled {
	background-color: gray;
	color: lightgray;
	cursor: not-allowed;
}

/****************************/

/********* Indicator for score and size *********/
#score {
	position: absolute;
	margin-top: 11%;
	margin-left: 35%;
	text-align: left;
	color: white;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

#size {
	margin-top: 12%;
	margin-left: 35%;
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

/****************************/


/********* Map + related components (rows+columns)  *********/

#map {
	width: 600px;
	height: 600px;
	margin-left: 35%;
	border: 10px solid rgb(80, 167, 72);
	box-sizing: content-box;
	background: white;
}

.columns {
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	margin-left: -20px;
}

.rows {
	position: absolute;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
}

/****************************/

/********* Snake and Snack *********/

.snake_head {
	background: rgb(185, 185, 185);
	border: 5px black solid;
}

.food {
	background: blue;
}

/****************************/